PORT = 8080
CLIENT_URL = 'http://localhost:3000'

DB_URL='YOUR_DB_URL'



JWT_ACCESS_SECRET='qwertytdgfhjxdcvbvtyftyftydjyuygytdeztdtfjghbvgcytvhgvhcbkjdcbhxdf'
JWT_REFRESH_SECRET='xchewgrtywjgh6wukgcb4ukcgb4bu7wk4 gcbrejmhgfcbf8hiuk 4g38r7iuct4b78icu4tb487ci43'
ACCESS_TOKEN_ACTIVE_TIME='5m'
REFRESH_TOKEN_ACTIVE_TIME='7d'